body { 
  background: linear-gradient(135deg, #0E1625 30%, #4A2B9A);
  color: white;
  text-align: center;
  height: 100%;
}

/* Checkbox Styles */
.rules__checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}

.rules__checkbox label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.checkbox-icons {
  position: relative;
  width: 18px;
  height: 18px;
}

.checkbox-icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}

.checkbox-label {
  color: #FF6B6B;
  transition: all 0.3s ease;
}

.rules__checkbox-input:checked ~ label .checkbox-label {
  color: #4dff88;
  text-decoration: none;
}

.rules__checkbox.full-strength label .checkbox-label {
  color: #4dff88;
}

.rules__checkbox-input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.indicator {
  transition: width 0.3s ease, background-color 0.3s ease;
}


.copy-feedback {
  position: absolute;
  right: 40px;
  background: #28a745;
  color: white;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 12px;
  transition: opacity 0.3s;
  z-index: 10;
}

.generate_pwd {
  margin-bottom: 20px;
  cursor: pointer;
  color: white;
  text-decoration: underline;
  margin-top: 20px;
  text-align: center;
  transition: all 0.3s;
}

.generate_pwd:hover {
  color: green;
}


.svg-show, .svg-hide {
  display: none;
}
.svg-show { display: none; }
.svg-hide { display: block; }

.field__input:disabled {
  cursor: pointer;
  background-color: white;
}

.field__input:not(:disabled) {
  background-color: white;
}

/* Icons */
.field__icon {
  cursor: pointer;
  position: relative;
}

/* Checkbox styling */
.rules__checkbox-input:checked + label {
  color: #4dff88 !important;
}




.header__content {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

@media screen and (max-width: 639px) {
    .header__content {
        -webkit-box-orient:vertical;
        -moz-box-orient: vertical;
        -o-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -moz-box-align: start;
        -o-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start
    }
}

.header__inner {
    position: relative;
    padding: 16px 0
}

@media screen and (max-width: 639px) {
    .header__inner {
        padding:16px 0 24px
    }
}

.header__left {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    direction: ltr
}



.header__link-checker {
    font-size: 34px;
    font-weight: 500;
    color: #45EDF2;
    text-decoration: none
}




.header__globe {
    position: relative;
    cursor: pointer;
    border: none;
    color: var(--text-color);
    padding: 12px 0;
    margin: 0;
    background: transparent;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-family: Kaspersky Sans Display;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    transition: all .175s;
    direction: ltr
}

.header__globe:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #29ccb1;
    border-radius: 10px;
    display: none
}

.header__globe.open:before {
    display: block
}

.header__globe:hover {
    color: var(--primary-brand-palette-02)
}

.header__globe-icon {
    margin-right: 6px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.header__globe-arrow {
    margin-left: 4px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.field {
    border: 1px solid rgba(29,54,83,.169);
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background: #fff;
    border-radius: 16px;
    padding: 22px 24px;
    height: 80px;
    position: relative
}

@media screen and (max-width: 1279px) {
    .field {
        height:64px;
        border-radius: 8px;
        padding: 20px 16px
    }
}

.field.is-secure {
    border: 2px solid #29ccb1
}

.field.is-change {
    border: 2px solid #ffa87d
}

.field.is-overdue {
    border: 2px solid #f35
}

.field__input {
    width: 100%;
    border: none;
    background: transparent;
    height: 100%;
    padding: 0;
    border-radius: 0;
    outline-width: 0;
    color: #1d1d1b;
    font-family: Kaspersky Sans Display;
    font-size: 32px;
    font-weight: 500;
    line-height: 36px
}

@media screen and (max-width: 1279px) {
    .field__input {
        font-family:Kaspersky Sans Display;
        font-size: 21px;
        font-weight: 600;
        line-height: 24px
    }
}

.field__label {
    color: #2a3541b2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 22px 24px;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px
}

@media screen and (max-width: 1279px) {
    .field__label {
        font-family:Kaspersky Sans Display;
        font-size: 21px;
        font-weight: 400;
        line-height: 24px;
        padding: 20px 16px
    }
}



.is-active .field__label {
    display: none
}

.field__icons {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: 16px
}

.field__icon {
    color: #223449;
    cursor: pointer;
    transition: all .175s;
    font-size: 0
}

.field__icon:hover {
    color: #4dff88
}


.lead {
padding: 0 20%; 
}




.rules {
    min-height: 80px;
    border-radius: 16px;
    padding: 20px 20px 16px 26px;
    margin-top: 12px
}

@media screen and (max-width: 1279px) {
    .rules {
        padding:20px 16px 16px
    }
}


.rules__line {
    border-radius: 8px;
    height: 8px;
    position: relative
}

.rules__line-bg {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20)
}

.is-change .rules__line-bg {
    background: #f3b846
}

.is-overdue .rules__line-bg {
    background: #ff7d92
}

.rules__line-active {
    height: 100%;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .175s
}

.is-secure .rules__line-active {
    width: 100%;
    background: -webkit-linear-gradient(90deg,rgba(255,255,255,.2),rgba(255,255,255,.2)),-webkit-linear-gradient(0deg,#4dff88 -2.71%,#29ccb1 101.66%);
    background: -moz-linear-gradient(90deg,rgba(255,255,255,.2),rgba(255,255,255,.2)),-moz-linear-gradient(0deg,#4dff88 -2.71%,#29ccb1 101.66%);
    background: -o-linear-gradient(90deg,rgba(255,255,255,.2),rgba(255,255,255,.2)),-o-linear-gradient(0deg,#4dff88 -2.71%,#29ccb1 101.66%);
    background: -ms-linear-gradient(90deg,rgba(255,255,255,.2),rgba(255,255,255,.2)),-ms-linear-gradient(0deg,#4dff88 -2.71%,#29ccb1 101.66%);
    background: linear-gradient(0deg,#fff3,#fff3),linear-gradient(90deg,#4dff88 -2.71%,#29ccb1 101.66%)
}

.is-change .rules__line-active {
    width: 70%;
    background: -webkit-linear-gradient(90deg,rgba(255,255,255,.2),rgba(255,255,255,.2)),-webkit-linear-gradient(0deg,#fd3 -.15%,#f73 173.98%);
    background: -moz-linear-gradient(90deg,rgba(255,255,255,.2),rgba(255,255,255,.2)),-moz-linear-gradient(0deg,#fd3 -.15%,#f73 173.98%);
    background: -o-linear-gradient(90deg,rgba(255,255,255,.2),rgba(255,255,255,.2)),-o-linear-gradient(0deg,#fd3 -.15%,#f73 173.98%);
    background: -ms-linear-gradient(90deg,rgba(255,255,255,.2),rgba(255,255,255,.2)),-ms-linear-gradient(0deg,#fd3 -.15%,#f73 173.98%);
    background: linear-gradient(0deg,#fff3,#fff3),linear-gradient(90deg,#fd3 -.15%,#f73 173.98%)
}

.is-overdue .rules__line-active {
    width: 20%;
    background: -webkit-linear-gradient(0deg,#f73 -84.15%,#f35 133.48%);
    background: -moz-linear-gradient(0deg,#f73 -84.15%,#f35 133.48%);
    background: -o-linear-gradient(0deg,#f73 -84.15%,#f35 133.48%);
    background: -ms-linear-gradient(0deg,#f73 -84.15%,#f35 133.48%);
    background: linear-gradient(90deg,#f73 -84.15%,#f35 133.48%)
}

.rules__checkboxes {

    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-top: 11px
}

@media screen and (max-width: 1279px) {
    .rules__checkbox-input+label {
        font-size: 14px !important;
        line-height: 17px !important;
    }

    .rules__checkboxes {
        -webkit-box-lines: multiple;
        -moz-box-lines: multiple;
        -o-box-lines: multiple;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -moz-box-pack: start;
        -o-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        gap: 12px 12px;
        margin-top: 20px
    }
}

@media screen and (max-width: 959px) {
    .rules__checkboxes {
        gap:12px 12px;
        margin-left: 0px;
    }
}

.rules__checkbox {
    font-size: 0
}

@media screen and (max-width: 1279px) {
    .rules__checkbox {
        width:calc(19.3333% - 2px)
    }
}

@media screen and (max-width: 959px) {
    .rules__checkbox {
        width:calc(50% - 8px)
    }
}

@media screen and (max-width: 639px) {
    .rules__checkbox {
        width:100%
    }
}



.rules__checkbox-input:checked+label {
    opacity: 1;
    -ms-filter: none;
    filter: none
}



.rules__checkbox-input:checked+label:before {
    background-image: url(../images/checkbox-checked.svg)
}


.is-secure .rules__checkbox-input:checked+label:before {
    background-image: url(../images/checkbox-full.svg)
}

@media screen and (max-width: 1279px) {
    .rules__status {
        display:block
    }
}




























.rules__checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}

.rules__checkbox-input {
  margin-right: 0.5rem;
}

.rules__checkbox label {
  font-size: 0.85rem;
  transition: color 0.3s;
}





.progress-bar {
  border-radius: 2px;
  overflow: hidden;
}

.pswd_info {
	list-style: none;
	margin: 5px 0px;
	padding: 0;
}
.pswd_info .invalid {
	padding-left: 20px;
	background:url(images/invalid.png) no-repeat 0 50%;
	color:#ec3f41;
}
.pswd_info .valid {
	padding-left: 20px;
	background:url(images/valid.png) no-repeat 0 50%;   
	color:#3a7d34;
}
#password-strength-status {
	font-size:10px;
	padding: 5px 10px;
	color: #000000;
	border-radius: 4px;
	margin-top: 5px;
}
.veryweak-password {
	background-color: #FF0000;
}
.weak-password {
	background-color: #d35400;
}
.medium-password {
	background-color: #f39c12;
}
.average-password {
	background-color: #f1c40f;	
}
.strong-password {
	background-color: #229954;
}